<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat for everybody</title>
        <script src="socket.io/socket.io.js"></script>
        <script data-main="public/require-config" src="libs/requirejs/require.js"></script>
    </head>
    <body>   
        <div class="chat" ng-controller="messageController as messageVm">
            <div ng-repeat="message in messageVm.messages">
                <div class="msg">
                        <span class="user">{{message.author }}  </span> {{message.authorAddress}}
                        {{message.text}}
                </div>
            </div>
     
            <div class="form">
                <span class="nick" ng-model="username"></span>
                <input type="text" ng-model="messageVm.inputText" ng-keypress="messageVm.trySubmit($event)"
                         name="message_text" placeholder="Введите сообщение">
                <button type="button" ng-click="messageVm.submit()" id="message_btn">Отправить</button>
            </div>
        </div>
    </body>
</html>